<div class="row">
    <a class="btn btn-success btn-large col-md-6 col-md-offset-3" data-toggle="modal" data-remote="<%= new_group_path %>" data-target=".bs-example-modal-sm">Create your own group!</a>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
    </div>
  </div>
</div>