<h1>Groups#index</h1>
<p>Find me in app/views/groups/index.html.erb</p>

<% current_group.each do |g| %>
 
    <li><%= link_to g.name, group_path(g) %></li>

<% end %>
<%= link_to "Make group", new_group_path %>
