<h1>Containers#new</h1>
<p>Find me in app/views/containers/new.html.erb</p>


<h1>Make a new fridge group</h1>

<%= form_for @container, {url: group_containers_path(@group)} do |f| %>
  <%= f.text_field :container_type, placeholder: "Name your CNNTOANINER" %>


  <%= f.submit "Add fridge group!" %>

<% end %>

