// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#drop-target-one,
#drop-target-two
 {
  display: inline-block;
  background-color: white;
  border-radius: 25px;
  max-width: 300px;
  min-width: 200px;
  height: 240px;
  margin: 0 auto;
  
}
.container-title {
  font-size: 20px;
  color: white;
}

.over {
  -webkit-box-shadow: 0px 7px 42px 1px rgba(9,68,120,1);
  -moz-box-shadow: 0px 7px 42px 1px rgba(9,68,120,1);
  box-shadow: 0px 7px 42px 1px rgba(9,68,120,1);
}

.category {
  height: 100px;
  max-width: 100px;
  margin: 12px;
}

#dropdown {
  background: white;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 50px;
  color: #333333;
  width: 100px;
  height: 0;
  overflow:hidden;
  left: 0;
  line-height: 20px;
  text-align:center;
  top: 30px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

#info:hover > #dropdown {
  display:block;
  left:0px;
  height:22px;
}