<% @group.messages.each do |c| %>

<%= c.comment %>

<% end %>

<%= form_for @message, {url: group_messages_path(@group)}  do |f| %>
    <div class="form-group">
      <%= f.text_field :comment, class:"form-control", :placeholder => "Write a comment..." %>
      <% f.button "Add comment",  class:"btn btn-primary btn-lg", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Adding..."} %>
      </div>

  <% end %>