<div ng-controller="dragNdrop">
	<div id="dd-elements">
		<div id="drag-elements">

			<% @category_array = @container.categories.all.map { |f|
				{ id: f.id, name: f.name, image: f.image} } %>

			<p ng-init="cats = <%= @category_array.to_json %>"></p>
			<div class="container">
			<div class="row">
				<a ng-repeat="c in cats | orderBy:'name':false" ng-href='{{dropZoneLink}}', modal="true", dataToggle="modal", dataTarget=".bs-example-modal-lg">
					<div class="col-md-1 category" draggable="true" ng-mousedown="setCategory(c.id)">
						<div id="info">	<img src="/assets/{{c.image}}.png">
						<div id="dropdown">{{c.name}}</div>				
					</div>
					</div>
				</a>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-3 text-center">
				<div id="drop-target-one"><p>Add to Kitchen</p>
				<!-- <div class="fridge-drop-container"> --><%#= image_tag "https://s3.amazonaws.com/uploads.hipchat.com/39979/962337/lQTLYzlNX84Jns3/fridge.png" %>
				<!-- </div> -->
				</div>
			</div>
			
			<div class="col-md-3 text-center">
				<div id="drop-target-two"><p>Add to Shopping List</p>
				</div>
			</div>
		</div>

</div>




<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
    </div>
  </div>
</div>


