<div ng-controller="dragNdrop">
	<h1 ng-bind="dropZoneLink"></h1>

	<div class="container">

		<div id="dd-elements" class="clearfix">
			<ul id="drag-elements">

				<% @category_array = @container.categories.all.map { |f|
					{ id: f.id, name: f.name} } %>

				<p ng-init="cats = <%= @category_array.to_json %>"></p>

				<a ng-repeat="c in cats track by $index" ng-href='{{dropZoneLink}}', modal="true", dataToggle="modal", dataTarget=".bs-example-modal-lg">
					<li draggable="true" ng-mousedown="setCategory(c.id)">{{c.name}}
					</li>
				</a>
			</ul>
		</div>
	</div>
		
 
	<div id="drop-target-one">
		<div class="fridge-drop-container"><%= image_tag "https://s3.amazonaws.com/uploads.hipchat.com/39979/962337/lQTLYzlNX84Jns3/fridge.png" %>
		</div>

	</div>

	<div id="drop-target-two">
		<div class="fridge-drop-container"><%= image_tag "http://www.ryanjwhite.com/dev/logo.jpg" %>
		</div>
	</div>



	<% current_group.each do |g| %>
	<%= g.name %>
	<% end %>
</div>


